@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.cover {

    background-image: url(./IMG/fondo1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1080px;

}

body{

    margin: 0px;
    padding: 0px;
    background-color: #fdf4ed;

}

nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 2.5%;
    padding-top: 20px;

}

.nav-bar{
    
    display: flex;
    list-style: none;
    font-size: 1.3em;

}

.nav-bar a{

    font-family: 'Poppins';
    font-weight: 400;
    text-decoration: none;
    color:  #FCD9DA;
    transition: 0.2s;

}

.nav-bar li{
    
    margin-right: 25px;
    
}

.nav-bar a:hover{
    
    color: #EE2E31;

}

.nav-bar .login:hover{

    color: #fdf4ed;

}

.nav-bar .register:hover{
    
    color:  #FCD9DA;
    background-color: #EE2E31;

}

.nav-bar .cart:hover {

    color: #fdf4ed;
    background-color: #f34548;
    filter: drop-shadow(0px 5px 10px #EE2E31);

}


.nav-bar li:last-of-type{

    margin-right: 0px;

}

.nav-bar-logo img{

    width: 60%;
    height: auto;
    margin-right: auto;
    margin-top: 3px;

}

.nav-bar .login{

    font-weight: 500;
    color: #EE2E31;


}

.nav-bar .register{

    font-weight: 500;
    color:  #EE2E31;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #FCD9DA;
    transition: 0.7s;

}

.nav-bar .cart{

    margin-right: 0px;
    color: #fdf4ed;
    background-color: #EE2E31;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: 0.7s;

}

.main-page{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main-page{

    text-align: center;
    margin-top: 9%;

}

.main-page h1{

    font-weight: 700;
    font-size: 5em;
    color:#FCD9DA;
    filter: drop-shadow(0px 0px 6px #00000098);
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

.main-page h2{

    font-weight: 500;
    font-size: 2em;
    color:#FCD9DA;
    background-color: #EE2E31;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    margin-top: 15px;

}

.main-page i{

    margin-top: 18%;
    font-size: 4em;
    color: #EE2E31;

}

.figure-container{

    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.figure-container figure img{

    border-radius: 10px;

}

.figure-container figure{

    padding-right: 3%;
    padding-left: 3%;

}

.baker-choice{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;

    border-radius: 30px;
    border: solid #EE2E31 2px;

    margin-top: 5%;
    margin-bottom: 10%;
    margin-right: 5%;

    background-color: #fdf4ed;
    filter: drop-shadow(0 5px 10px #0000002d);
}

.baker-choice h4{

    color: #fdf4ed;
    text-align: center;
    font-size: 2.4em;
    margin-top: 3%;

}

.baker-choice h5{

    color: #fdf4ed;;
    font-weight: 500;
    text-align: center;
    font-size: 1.4em;

}

figcaption{

    text-align: center;
    font-size: 1.3em;
    margin-top: 15px;
    color: #080b12;
    line-height: 45px;
    margin-bottom: 30px;

}

figcaption p{

    font-weight: 600;

}

figcaption .add-cart{

    color: #fff7f7;
    background-color: #EE2E31;
    padding: 9px;
    border-radius: 20px;
    font-size: 0.8em;
    transition: 0.3s;
    cursor:pointer;

}

figcaption .add-cart:hover{

    color: #fff7f7;
    background-color:  #070707;
    filter: drop-shadow(0 10px 15px #0000002d);

}

.bottom-main h3{

    margin-top: 2%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 2.3em;
    color: #EE2E31;
    filter: drop-shadow(0 10px 15px #0000002d);

}

.fc-bottom{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;

}

.fc-bottom figure{

    display: flex;
    flex-direction: column;
    align-items: center;

}

.fc-bottom figcaption{

    font-weight: 500;
    text-align: center;
    margin: 7%;

}

.baker-choice a{

    font-weight: 500;
    text-align: center;
    font-size: 1.4em;

    margin-top: 1%;
    margin-bottom: 6%;

    padding-bottom: 0.5%;
    padding-top: 0.5%;
    padding-right: 1%;
    padding-left: 1%;

    text-decoration: none;
    color: #EE2E31;
    background-color: #fdf4ed;
    border-radius: 30px;
    border: solid #EE2E31 2px;
    transition: 0.3s;

}

.baker-choice a:hover{

    color: #fdf4ed;
    background-color: #EE2E31;

}

.title{

    background-color: #EE2E31;
    border-radius: 27px 27px 0px 0px;
    width: 100%;
    height: 15vh;
    margin-bottom: 5%;

}

.main{

    display: flex;
    flex-direction: row-reverse;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 5%;

    background-color: #FCD9DA;
}

.about{

    padding-bottom: 5%;
    text-align: left;
}

p{
    
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 5%;
    font-size: 1em;
    font-weight: 600;

}

h6{

    color: #EE2E31;
    margin-bottom: 2.5%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 3em;

}

.about a{

    font-weight: 500;
    text-align: center;
    font-size: 1em;

    margin-right: 10%;
    margin-left: 10%;

    padding-bottom: 0.5%;
    padding-top: 0.5%;
    padding-right: 1%;
    padding-left: 1%;

    text-decoration: none;
    color: #FCD9DA;
    background-color: #EE2E31;
    border: solid #EE2E31 2px;
    border-radius: 30px;
    transition: 0.3s;

}

.about a:hover{

    color: #EE2E31;
    background-color: #FCD9DA;
    border: solid #EE2E31 2px;

}